@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
form {
    width: 350px;
    position: relative;
}

form .form-field::before {
    text-align: right;
    font-size: 20px;
    position: absolute;
    direction: rtl;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
/**/
form .form-field:nth-child(1)::before {
    background-image: url(./assets/user-icon.png);
    width: 20px;
    height: 20px;
    top: 15px;

}
/**/
/*form .form-field:nth-child(2)::before {*/
/*    background-image: url(./assets/lock-icon.png);*/
/*    width: 16px;*/
/*    height: 16px;*/
/*}*/
/**/
form .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
/**/
form input {
    font-family: inherit;
    width: 100%;
    text-align: right;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}
/**/
form .btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.login {
    /*height: min-content;*/
    /*padding: 20px;*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*align-self: center;*/
    /*top: 35%;*/
    /*right: 37%;*/
    /*!*left: 50%;*!*/
    /*!*top: 50%;*!*/
    /*background-position: center center;*/
    /*!*background-color: #8bffb0;*!*/
    /*background-color: white;*/
    /*!*display: flex;*!*/
    /*!*align-items: center;*!*/
    /*!*align-content: center;*!*/
    /*!*flex-direction: column;*!*/
    /*!*margin: -250px 20px;*!*/
}

@media (max-width: 1024px) {

    body {
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url('./assets/logo.png');
        background-size: 550px;
        /*width: 10px;*/
        /*height: 10px;*/
        /*background-size: cover;*/

    }
}

@media (min-height: 1025px) {

    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url('./assets/logo.png');
        background-size: cover;

    }
}


.checkbox-list {
    margin-bottom: 20px;
    direction: rtl
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

